.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%, 180px);
    color: rgb(235, 18, 18)

}
.navbar .profile{
    width: 40px;
}